[CRAB]
jobtype = cmssw
scheduler = pbs
#server_name = bari

[CMSSW]

datasetpath = /InclusiveBB_Pt30/Summer09-MC_31X_V3_7TeV-v1/GEN-SIM-RECO
pset = SUSY_pattuple_cfg.py
total_number_of_events = -1
events_per_job = 3000
#number_of_jobs = 3
output_file = InclusiveBB_Pt30_PATuple.root

[PBS]
queue = local

[USER]
#return_data = 0
email=aocampor@cern.ch

copy_data = 1
storage_element = bari 
#storage_element = T2_IT_Bari
storage_path = /lustre/cms/
user_remote_dir = store/user/aocampor/bb/InclusiveBB_Pt30/Summer09-MC_31X_V3_7TeV-v1/PAT/
check_user_remote_dir = 0
publish_data=1
publish_data_name = InclusiveBB_Pt30_7TeV_PATuple
dbs_url_for_publication = http://gridba30.ba.infn.it:8080/DBS/servlet/DBSServlet

