process RPCEff = {
	source = PoolSource{
	untracked vstring fileNames ={
"/store/data/2008/5/20/T0ReReco-GlobalCruzet1-A-v1/0003/002E6486-BE26-DD11-B9F9-001D09F24489.root",
"/store/data/2008/5/20/T0ReReco-GlobalCruzet1-A-v1/0003/0CA04A4C-C126-DD11-B918-001D09F24FEC.root",
"/store/data/2008/5/20/T0ReReco-GlobalCruzet1-A-v1/0003/0CAE3850-C126-DD11-BCEE-0030487C6090.root",
"/store/data/2008/5/20/T0ReReco-GlobalCruzet1-A-v1/0003/16A5D262-BE26-DD11-BD84-001D09F23A4D.root",
"/store/data/2008/5/20/T0ReReco-GlobalCruzet1-A-v1/0003/1CDF29C0-BF26-DD11-B3B3-000423D992A4.root",
"/store/data/2008/5/20/T0ReReco-GlobalCruzet1-A-v1/0003/1E04DC13-C026-DD11-B906-001D09F2AD4D.root",
"/store/data/2008/5/20/T0ReReco-GlobalCruzet1-A-v1/0003/22DBC163-BE26-DD11-AF1A-001D09F24EAC.root"
	}

	untracked uint32 debugVebosity = 10
        untracked bool debugFlag = true
        }

   untracked PSet maxEvents = {untracked int32 input = -1}

   include "MagneticField/Engine/data/volumeBasedMagneticField.cfi"
   include "Geometry/RPCGeometry/data/rpcGeometry.cfi"
   include "Geometry/CommonDetUnit/data/globalTrackingGeometry.cfi"
   include "RecoMuon/DetLayers/data/muonDetLayerGeometry.cfi"
   include "Geometry/MuonNumbering/data/muonNumberingInitialization.cfi"
   include "CondCore/DBCommon/data/CondDBSetup.cfi"
   include "EventFilter/RPCRawToDigi/data/RPCSQLiteCabling.cfi"
   include "Geometry/MuonCommonData/data/muonIdealGeometryXML.cfi"


   # The module for 1D RPC RecHit building
   include "RecoLocalMuon/RPCRecHit/data/rpcRecHits.cfi"
   replace rpcRecHits.rpcDigiLabel = muonRPCDigis

   module rpclocal = RPCLocalMonitor{
	#Cut on residuals in strips
	double EfficiencyCut = 2.5
	untracked int32 FiredPlanes = piani
	untracked int32 wheel = 0	
	untracked string recLabel = "rpcRecHits"
	untracked string digiLabel = "muonRPCDigis"
	untracked int32 save = 0
        InputTag gmtSource = gtDigis::

	untracked bool useDTTrig = false

	untracked string tableName =  "tableEfficiency_RUN.txt"
	untracked string rejectedName =  "rejected_RUN.txt"
	untracked string EffRootFileName = "file1"
	untracked string GlobalEffFile = "file2"
   }

 #################    Data Quality Monitoring:   #########################
        include "DQM/RPCMonitorDigi/data/RPCDigiMonitoring.cfi"
	replace rpcdigidqm.DigiEventsInterval = 100
	replace rpcdigidqm.DigiDQMSaveRootFile =true
	replace rpcdigidqm.dqmshifter =true   	    	
	replace rpcdigidqm.dqmexpert =true		
	replace rpcdigidqm.dqmsuperexpert =true    	
	replace rpcdigidqm.RootFileNameDigi="dqm_RUN.root"

  include "DQMServices/Core/data/DQM.cfg"
	replace DQM.collectorHost = "myhost"
	replace DQM.collectorPort = 9090
	replace DQM.debug = false

  service = ModuleWebRegistry {}
  service = LockService {untracked vstring labels = {"source"} }

     #################   For RPCRecHits   #########################
	include "Geometry/MuonNumbering/data/muonNumberingInitialization.cfi"

     #################   Path   #########################

     path p = {rpcdigidqm,rpclocal}

}

